In [1]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import time
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException, NoSuchWindowException

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url 
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A)
Rank 
B) Name 
C) Artist 
D) Upload date 
E) Views

In [2]:
driver = webdriver.Chrome()

driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [3]:
rank = []
name = []
artist = []
upload_date = []
views = []

In [4]:
all_tables = driver.find_element(By.XPATH, "//table")

In [5]:
videos_table = all_tables.find_elements(By.XPATH, "//table[@class='wikitable sortable jquery-tablesorter']")
    
for video_table in videos_table[0:1]:
        video_details = video_table.find_elements(By.XPATH, ".//tbody//tr")

In [6]:
for video in video_details:
    try:
        rank.append(video.find_element(By.XPATH, ".//td[1]").text.replace(".", ""))
    except NoSuchElementException:
        rank.append("-")

    try:
        name.append(video.find_element(By.XPATH, ".//td[2]").text)
    except NoSuchElementException:
        name.append("-")

    try:
        artist.append(video.find_element(By.XPATH, ".//td[3]").text)
    except NoSuchElementException:
        artist.append("-")

    try:
        upload_date.append(video.find_element(By.XPATH, ".//td[5]").text)
    except NoSuchElementException:
        upload_date.append("-")

    try:
        views.append(video.find_element(By.XPATH, ".//td[4]").text)
    except NoSuchElementException:
        views.append("-")

In [7]:
df = pd.DataFrame({'Rank': rank, 'Name': name, 'Artist': artist, 'Upload Date': upload_date, 'Views (billions)': views})
df

,Rank,Name,Artist,Upload Date,Views (billions)
0,"""Baby Shark Dance""[7]",Pinkfong Baby Shark - Kids' Songs & Stories,"7,046,700,000","November 2, 2020","June 17, 2016"
1,"""Despacito""[10]",Luis Fonsi,"2,993,700,000","August 4, 2017","January 12, 2017"
2,"""See You Again""[21]",Wiz Khalifa,"2,894,000,000","July 10, 2017","April 6, 2015"
3,"""Gangnam Style""⁂[31]",Psy,"803,700,000","November 24, 2012","July 15, 2012"
4,"""Baby""*[69]",Justin Bieber,"245,400,000","July 16, 2010","February 19, 2010"
5,"""Bad Romance""[73]",Lady Gaga,"178,400,000","April 14, 2010","November 24, 2009"
6,"""Charlie Bit My Finger""[77]",HDCYT,"128,900,000","October 25, 2009","May 22, 2007"
7,"""Evolution of Dance""[79]",Judson Laipply,"118,900,000","May 2, 2009","April 6, 2006"
8,"""Girlfriend""‡[81][82]",RCA Records,"92,600,000","July 17, 2008","February 27, 2007"
9,"""Evolution of Dance""[79]",Judson Laipply,"78,400,000","March 15, 2008","April 6, 2006"
10,"""Music Is My Hot Hot Sex""‡[87]",CLARUSBARTEL72,"76,600,000","March 1, 2008","April 9, 2007"
11,"""Evolution of Dance""*[79]",Judson Laipply,"10,600,000","May 19, 2006","April 6, 2006"
12,"""Pokémon Theme Music Video""‡[92]",Smosh,"4,300,000","March 12, 2006","November 28, 2005"
13,"""Myspace – The Movie""‡[97][98]",eggtea,"2,700,000","February 18, 2006","January 31, 2006"
14,"""Phony Photo Booth""‡[101]",mugenized,"3,400,000","January 21, 2006","December 1, 2005"
15,"""The Chronic of Narnia Rap""‡[107]",youtubedude,"2,300,000","January 9, 2006","December 18, 2005"
16,"""Ronaldinho: Touch of Gold""‡*[110]",Nikesoccer,"255,000","October 31, 2005","October 21, 2005"
17,"""I/O Brush""‡*[116]",larfus,"247,000","October 29, 2005","October 5, 2005"

# 2. Scrape the details team India’s international fixtures from bcci.tv. 
Url = https://www.bcci.tv/. 
You need to find following details: 
A) Series 
B) Place 
C) Date 
D) Time 
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [2]:
driver = webdriver.Chrome()


driver.get("https://www.bcci.tv/")

In [4]:

driver.find_element(By.XPATH, "/html/body").click()

In [5]:
title = []
series = []
place = []
date = []
time_ = []

In [7]:
matches_table = driver.find_element(By.XPATH, "/html/body/div[4]/div/div[1]/div[2]/div[2]/div[3]/div[2]/div[2]/div[1]/div[3]/div[1]/div/ul/li[2]/span[1]")
matches_table

In [9]:
matches_details = matches_table.find_elements(By.XPATH, "/html/body/div[4]/div/div[1]/div[2]/div[2]/div[3]/div[2]/div[2]/div[1]/div[3]/div[1]/h4")
matches_details

In [21]:
for match in matches_details:
    matchTitle = ""
    
    try:
        matchTitle = match.find_element(By.XPATH, ".//div[@class='tournament--name ng-binding ng-scope']").text
        title.append(matchTitle.replace("-", ""))
    except NoSuchElementException:
        title.append("-")
        
    try:
        series.append(match.find_element(By.XPATH, ".//h5[@class='match-tournament-name ng-binding']").text)
    except NoSuchElementException:
        series.append("-")
        
    try:
        place.append(match.find_element(By.XPATH, ".//*[@class='ng-binding ng-scope']").text)
    except NoSuchElementException:
        place.append("-")
        
    try:
        date.append(match.find_element(By.XPATH, ".//div[@class='match-dates ng-binding']").text)
    except NoSuchElementException:
        date.append("-")
        
    try:
        time_.append(match.find_element(By.XPATH, ".//div[@class='match-time no-margin ng-binding']").text)
    except NoSuchElementException:
        time_.append("-")

In [22]:
df = pd.DataFrame({'Match Title': title, 'Series': series, 'Place': place, 'Date': date, 'Time': time_})
df

  Match Title Series Place Date Time
0           -      -     -    -    -
1           -      -     -    -    -
2           -      -     -    -    -
3           -      -     -    -    -
4           -      -     -    -    -

# 3. Scrape the details of State-wise GDP of India from statisticstime.com. 
Url = http://statisticstimes.com/ 
You have to find following details: A) Rank 
B) State 
C) GSDP(18-19)- at current prices 
D) GSDP(19-20)- at current prices 
E) Share(18-19) 
F) GDP($ billion) 
Note: - From statisticstimes home page you have to reach to economy page through code.

In [8]:
driver = webdriver.Chrome()

driver.get("http://statisticstimes.com/")

In [9]:
a = ActionChains(driver)


m = driver.find_element(By.XPATH, "//div[@class='navbar']//div[@class='dropdown'][2]//button[@class='dropbtn']")


a.move_to_element(m).perform()
time.sleep(1)
    

n = driver.find_element(By.LINK_TEXT, "India")


a.move_to_element(n).click().perform()
time.sleep(1)

try:
    driver.find_element(By.XPATH, "//span[text()='Close']").click()
except NoSuchElementException:
    time.sleep(5)

In [22]:
driver.find_element(By.XPATH, "/html/body/div[3]/div[2]/div[5]/div[1]/div/table").click()
time.sleep(1)

gdp_table = driver.find_element(By.XPATH, "/html/body/div[3]/div[2]/div[5]/div[1]/div/table")
gdp_details = gdp_table.find_elements(By.XPATH, ".//tbody//tr")

In [23]:
rank = []
state = []
GSDP1819 = []
GSDP1920 = []
share1819 = []
GDP = []

In [24]:
for gdp_state in gdp_details:

    try:
        rank.append(gdp_state.find_element(By.XPATH, ".//td[1]").text)
    except NoSuchElementException:
        rank.append("-")

    try:
        state.append(gdp_state.find_element(By.XPATH, ".//td[2]").text)
    except NoSuchElementException:
        state.append("-")

    try:
        GSDP1819.append(gdp_state.find_element(By.XPATH, ".//td[3]").text)
    except NoSuchElementException:
        GSDP1819.append("-")

    try:
        GSDP1920.append(gdp_state.find_element(By.XPATH, ".//td[4]").text)
    except NoSuchElementException:
        GSDP1920.append("-")

    try:
        share1819.append(gdp_state.find_element(By.XPATH, ".//td[5]").text)
    except NoSuchElementException:
        share1819.append("-")

    try:
        GDP.append(gdp_state.find_element(By.XPATH, ".//td[6]").text)
    except NoSuchElementException:
        GDP.append("-")

In [25]:
df = pd.DataFrame({'Rank': rank, 'State': state, 'GSDP (19-20)': GSDP1819, 'GSDP (18-19)': GSDP1920, 'Share': share1819, 'GDP ($billion)': GDP})
df

,Rank,State,GSDP (19-20),GSDP (18-19),Share,GDP ($billion)
0,1,Maharashtra,-,-,"3,108,022",13.17%
1,2,Tamil Nadu,"2,700,109","2,364,514","2,071,286",8.78%
2,3,Karnataka,"2,500,733","2,269,995","1,978,094",8.38%
3,4,Uttar Pradesh,"2,547,861","2,258,040","1,975,595",8.37%
4,5,Gujarat,-,"2,230,609","1,928,683",8.17%
5,6,West Bengal,"1,700,939","1,531,758","1,329,238",5.63%
6,7,Rajasthan,"1,524,030","1,365,849","1,193,489",5.06%
7,8,Andhra Pradesh,"1,439,674","1,303,524","1,148,471",4.87%
8,9,Telangana,"1,463,960","1,308,034","1,124,204",4.76%
9,10,Madhya Pradesh,"1,363,327","1,246,471","1,092,964",4.63%
10,11,Kerala,-,"1,046,188","934,542",3.96%
11,12,Delhi,"1,107,746","1,014,688","881,336",3.73%
12,13,Haryana,"1,095,535","984,055","868,905",3.68%
13,14,Odisha,"832,790","753,177","662,886",2.81%
14,15,Bihar,-,"751,396","650,302",2.76%
15,16,Punjab,"736,423","676,164","617,192",2.62%
16,17,Assam,"565,401","493,167","411,454",1.74%
17,18,Chhattisgarh,"505,887","464,399","410,525",1.74%
18,19,Jharkhand,-,"393,722","358,863",1.52%
19,20,Uttarakhand,"346,206","303,781","267,143",1.13%
20,21,Jammu & Kashmir,"246,465","224,226","193,352",0.82%
21,22,Himachal Pradesh,"207,430","191,728","172,162",0.73%
22,23,Goa,-,"93,672","84,266",0.36%
23,24,Tripura,-,"72,636","62,550",0.27%
24,25,Chandigarh,-,"54,285","46,096",0.20%
25,26,Puducherry,-,"49,643","43,810",0.19%
26,27,Meghalaya,"47,381","42,697","38,785",0.16%
27,28,Sikkim,-,"42,756","37,557",0.16%
28,29,Manipur,-,-,"36,594",0.16%
29,30,Arunachal Pradesh,-,"39,630","34,775",0.15%
30,31,Nagaland,-,"35,643","31,038",0.13%
31,32,Mizoram,-,-,"27,824",0.12%
32,33,Andaman & Nicobar Islands,-,-,"10,371",0.04%

In [26]:
driver.quit()

# 4. Scrape the details of trending repositories on Github.com. 
Url = https://github.com/ 
You have to find the following details: 
A) Repository title 
B) Repository description 
C) Contributors count 
D) Language used

In [27]:
driver = webdriver.Chrome()

driver.get("https://www.github.com/")

In [28]:
a = ActionChains(driver)


m = driver.find_element(By.XPATH, "//*[contains(text(), 'Open Source')]")


a.move_to_element(m).perform()
time.sleep(1)


n = driver.find_element(By.LINK_TEXT, "Trending")


a.move_to_element(n).click().perform()
time.sleep(1)

repo_details = driver.find_elements(By.XPATH, "//article[@class='Box-row']")

In [29]:
repo_title = []
repo_desc = []
cont_count = []
language = []

In [30]:
for repo in repo_details:

    try:
        repo_title.append(repo.find_element(By.XPATH, ".//h1[@class='h3 lh-condensed']//a").text)
    except NoSuchElementException:
        repo_title.append("-")

    try:
        repo_desc.append(repo.find_element(By.XPATH, ".//p").text)
    except NoSuchElementException:
        repo_desc.append("-")

    try:
        cont_counts = repo.find_elements(By.XPATH, ".//span[@class='d-inline-block mr-3']//a")
        cont_count.append(len(cont_counts))
    except NoSuchElementException:
        cont_count.append("-")

    try:
        language.append(repo.find_element(By.XPATH, ".//span[@itemprop='programmingLanguage']").text)
    except NoSuchElementException:
        language.append("-")

In [31]:
df = pd.DataFrame({'Repository Title': repo_title, 'Repository Description': repo_desc, 'Contributors Count': cont_count, 'Language Used': language})
df

Empty DataFrame
Columns: [Repository Title, Repository Description, Contributors Count, Language Used]
Index: []

In [32]:
driver.quit()

# 5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the 
following details: 
A) Song name 
B) Artist name 
C) Last week rank 
D) Peak rank 
E) Weeks on board

In [33]:
driver = webdriver.Chrome()


driver.get("https://www.billboard.com/")

In [34]:
driver.find_element(By.XPATH, "/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]").click()
time.sleep(3)

In [35]:
driver.find_element(By.XPATH, "/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div[1]/div[2]/span/a").click()

In [36]:
song = []
artist = []
last_week = []
peak = []
weeks_on_board = []

In [37]:
topSongs_details = driver.find_elements(By.XPATH, "//div[@class='o-chart-results-list-row-container']")

In [38]:
print("topSongs_details: ", len(topSongs_details))

topSongs_details:  100

In [39]:
for topSong in topSongs_details:

    try:
        song.append(topSong.find_element(By.XPATH, ".//li[@class='lrv-u-width-100p']//ul//li[1]//h3[@id='title-of-a-story']").text)
    except NoSuchElementException:
        song.append("-")

    try:
        artist.append(topSong.find_element(By.XPATH, ".//li[@class='lrv-u-width-100p']//ul//li[1]//span").text)
    except NoSuchElementException:
        artist.append("-")

    try:
        last_week.append(topSong.find_element(By.XPATH, ".//li[@class='lrv-u-width-100p']//ul//li[4]").text)
    except NoSuchElementException:
        last_week.append("-")

    try:
        peak.append(topSong.find_element(By.XPATH, ".//li[@class='lrv-u-width-100p']//ul//li[5]").text)
    except NoSuchElementException:
        peak.append("-")

    try:
        weeks_on_board.append(topSong.find_element(By.XPATH, ".//li[@class='lrv-u-width-100p']//ul//li[6]").text)
    except NoSuchElementException:
        weeks_on_board.append("-")

In [40]:
df = pd.DataFrame({'Song Name': song, 'Artist Name': artist, 'Last Week Rank': last_week, 'Peak Rank': peak, 'Weeks On Board': weeks_on_board})
df

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks On Board
0,A Bar Song (Tipsy),Shaboozey,2,1,14
1,I Had Some Help,Post Malone Featuring Morgan Wallen,3,1,10
2,Not Like Us,Kendrick Lamar,1,1,11
3,Million Dollar Baby,Tommy Richman,4,2,12
4,Espresso,Sabrina Carpenter,5,3,14
...,...,...,...,...,...
95,Bass Boat,Zach Bryan,61,61,2
96,Think I'm In Love With You,Chris Stapleton,87,49,11
97,Beautiful As You,Thomas Rhett,95,83,6
98,Sweet Dreams,Koe Wetzel,88,35,9
99,Sandpaper,Zach Bryan Featuring Bruce Springsteen,71,71,2

In [41]:
driver.quit()

# 6. Scrape the details of Highest selling novels. 
A) Book name 
B) Author name 
C) Volumes sold 
D) Publisher 
E) Genre 
 Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [42]:
driver = webdriver.Chrome()


driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/")

In [43]:
novels_table = driver.find_element(By.XPATH, "//table[@class='in-article sortable']")
novels_details = novels_table.find_elements(By.XPATH, ".//tbody//tr")

In [44]:
book = []
author = []
sold = []
publisher = []
genre = []

In [45]:
for novel in novels_details:

    try:
        book.append(novel.find_element(By.XPATH, ".//td[2]").text)
    except NoSuchElementException:
        book.append("-")

    try:
        author.append(novel.find_element(By.XPATH, ".//td[3]").text)
    except NoSuchElementException:
        author.append("-")

    try:
        sold.append(novel.find_element(By.XPATH, ".//td[4]").text)
    except NoSuchElementException:
        sold.append("-")

    try:
        publisher.append(novel.find_element(By.XPATH, ".//td[5]").text)
    except NoSuchElementException:
        publisher.append("-")

    try:
        genre.append(novel.find_element(By.XPATH, ".//td[6]").text)
    except NoSuchElementException:
        genre.append("-")

In [46]:
df = pd.DataFrame({'Book Name': book, 'Author Name': author, 'Volumes Sold': sold, 'Publisher': publisher, 'Genre': genre})
df

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [47]:
driver.quit()

# 7. Scrape the details most watched tv series of all time from imdb.com. 
Url = https://www.imdb.com/list/ls095964455/ You have 
to find the following details: 
A) Name 
B) Year span 
C) Genre 
D) Run time 
E) Ratings 
F) Votes

In [8]:
driver = webdriver.Chrome()


driver.get("https://www.imdb.com/list/ls095964455/")

In [ ]:
404 Error.

# 8. Details of Datasets from UCI machine learning repositories. 
Url = https://archive.ics.uci.edu/ You 
have to find the following details: 
A) Dataset name 
B) Data type 
C) Task 
D) Attribute type 
E) No of instances 
F) No of attribute G) Year 
 Note: - from the home page you have to go to the Show All Dataset page through code.

In [18]:
driver = webdriver.Chrome()


driver.get("https://archive.ics.uci.edu/")

In [20]:
driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/div/div[2]/button').click()
time.sleep(1)

In [21]:
dataset = []
data_type = []
task = []
attribute_type = []
instance_number = []
year = []

In [22]:
true = True

while true:

    datasets = driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div[1]/div[2]/h2/a')
    for i in datasets:
        datase = i.text
        dataset.append(datase)

    data_types = driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div[1]/div[2]/div/div[2]/span')
    for i in data_types:
        data_ty = i.text
        if len(data_ty) < 1:
            data_ty = '-'
        data_type.append(data_ty)

    tasks = driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div[1]/div[2]/div/div[1]/span')
    for i in tasks:
        tas = i.text
        if len(tas) < 1:
            tas = '-'
        task.append(tas)

    attribute_types = driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[2]')
    for i in attribute_types:
        attribute_ty = i.text
        if len(attribute_ty) < 1:
            attribute_ty = '-'
        attribute_type.append(attribute_ty)

    instance_numbers = driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div[1]/div[2]/div/div[3]/span')
    for i in instance_numbers:
        instance_num = i.text
        if len(instance_num) < 1:
            instance_num = '-'
        instance_number.append(instance_num)
        
    years = driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[3]')
    for i in years:
        yea = i.text
        year.append(yea)  

    try:    
        driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]').click() 
    except:
        true = 0
        break
    
    time.sleep(5)

In [23]:
df = pd.DataFrame({'DataSet Name': dataset, 'Data Type': data_type, 'Task': task, 'Attribute Type': attribute_type, 'No of Instances': instance_number, 'Year': year})
df

Empty DataFrame
Columns: [DataSet Name, Data Type, Task, Attribute Type, No of Instances, Year]
Index: []